<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PanUrlHead" value="rCvwBwluDQcIr6nq4o76puJoydk9V9RPIFiXSxgOWAw=" />
    <add key="NspPanKey" value="5BOfCAaEd9fmljrS1g83hY0Q1M6O5eEz" />
    <add key="XciPanKey" value="DRHHhQDFYHERkwlFRGjjnh+JyZFRaFlg" />
    <add key="NspCookie" value="BQdO3gGeP26S%2FlJIEaM0pi4kpnJO89m07hOKIZIOTGU%3D" />
    <add key="XciCookie" value="BLR1GG39ln1SXYwQV9dlfDtszFa+f4tkMjikDscRHoI4wYSKK5Wgv6ugAx6W3Ga3" />
    <add key="NutdbUrl" value="rCvwBwluDQef+GbE5ks/b0FAuLSEvw+DT/7dXPLOMMBuKf0Jt0MYuHedutWvb9X5GffWbYKCXRsb/XpZ1/PUAw==" />
    <add key="TitleKeysPath" value="XsinQgQIDaTRJ4LWjOFX0Q==" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
